.fz-dialog {
  align-items: center;
  background: var(--modal);
  background-color: var(--modal);
  box-shadow: var(--shadow);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

.fz-dialog-container {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  overflow: hidden;
  width: 35rem;
}

.fz-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: hidden;
  padding: 1rem;
}

.fz-dialog-title {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  font-size: var(--text-subtitle);
  font-weight: bold;
}

.fz-dialog-title span {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fz-dialog-description {
  font-size: var(--text-small);
  text-align: justify;
}

.fz-dialog-footer {
  background: var(--background);
  background-color: var(--background);
  border-top: 1px solid var(--border);
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.8rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .fz-dialog-container {
    margin: 0 1rem !important;
    width: 100% !important;
  }
}
