.profile {
  align-items: center;
  border-radius: var(--rounded);
  display: flex;
  gap: 0.6rem;
  overflow: hidden;
}

.profilePadding {
  padding: 0.4rem 0.6rem;
}

.profileBorder {
  border: 1px solid var(--border);
}

.profileData {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profileDataName {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileDataDescription {
  color: var(--font-light);
  font-size: var(--text-small);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
