.profile {
  align-items: center;
  border-radius: var(--borderRadius);
  display: flex;
  gap: 0.6rem;
  flex: 1;
  overflow: hidden;
}

.profilePadding {
  padding: 0.6rem;
}

.profileBorder {
  border: 1px solid var(--borderColor);
}

.profileData {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.profileDataName {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileDataDescription {
  color: var(--textLight);
  font-size: var(--textSmall);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
