.toast {
  align-items: center;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  border-color: var(--borderColor);
  color: var(--textColor);
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
}

.toastSuccess {
  background: var(--successColor);
  background-color: var(--successColor);
  border-color: var(--successDark);
  color: white;
}

.toastSecondary {
  background: var(--infoColor);
  background-color: var(--infoColor);
  border-color: var(--infoDark);
  color: white;
}

.toastDanger {
  background: var(--dangerColor);
  background-color: var(--dangerColor);
  border-color: var(--danger-dark);
  color: white;
}

.toastWarn {
  background: var(--warningColor);
  background-color: var(--warningColor);
  border-color: var(--warningDark);
  color: white;
}

.toast * {
  font-size: 0.8rem;
}

.toast [data-close-button="true"] {
  align-items: center;
  background: white;
  border: 1px solid var(--borderColor);
  border-radius: 100%;
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  fill: var(--textColor);
  height: 24px;
  justify-content: center;
  left: 100% !important;
  position: absolute;
  top: 0 !important;
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
}

.toast [data-title] {
  font-size: var(--textRegular);
  font-weight: bold;
}

.toast [data-description] {
  font-size: var(--textSmall);
}

.toast [data-close-button="true"] * {
  color: var(--textColor);
  fill: var(--textColor);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .toast {
    width: 60vw;
  }
}
