.toast {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid transparent;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  border-color: var(--border);
  color: var(--font);
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
}

.toastSuccess {
  background: var(--success);
  background-color: var(--success);
  border-color: var(--success-dark);
  color: white;
}

.toastSecondary {
  background: var(--info);
  background-color: var(--info);
  border-color: var(--info-dark);
  color: white;
}

.toastDanger {
  background: var(--danger);
  background-color: var(--danger);
  border-color: var(--danger-dark);
  color: white;
}

.toastWarn {
  background: var(--warn);
  background-color: var(--warn);
  border-color: var(--warn-dark);
  color: white;
}

.toast * {
  font-size: 0.8rem;
}

.toast [data-close-button="true"] {
  align-items: center;
  background: white;
  border: 1px solid var(--border);
  border-radius: 100%;
  color: var(--font);
  cursor: pointer;
  display: flex;
  fill: var(--font);
  height: 24px;
  justify-content: center;
  left: 100% !important;
  position: absolute;
  top: 0 !important;
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
}

.toast [data-close-button="true"] * {
  color: var(--font);
  fill: var(--font);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .toast {
    width: 60vw;
  }
}
