.fadeui-pagination {
  align-items: center;
  display: flex;
  flex: 1;
}

.fadeui-pagination-data {
  display: flex;
  font-size: var(--text-small);
  flex: 1;
  gap: 0.2rem;
}

.fadeui-pagination-buttons {
  align-items: center;
  display: flex;
}

.fadeui-pagination-buttons button {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  height: 2rem;
  line-height: 1;
  overflow: hidden;
  width: 3rem;
}

.fadeui-pagination-buttons button:hover {
  cursor: pointer;
}

.fadeui-pagination-buttons button:disabled {
  background: var(--background) !important;
  background-color: var(--background) !important;
  cursor: not-allowed;
}

.fadeui-pagination-button-selected {
  background: var(--info) !important;
  background-color: var(--info) !important;
  border-color: var(--info-dark) !important;
  color: white;
}

.fadeui-pagination-button-left {
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
}

.fadeui-pagination-button-center {
  border-left: none !important;
  border-right: none !important;
}

.fadeui-pagination-button-right {
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
}
