.input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  flex: 1;
  overflow: hidden;
  transition: 200ms;
}

.inputHeader {
  align-items: center;
  display: flex;
}

.inputHeader[data-required="true"] label::before {
  content: "*";
  color: var(--dangerColor);
  font-size: var(--textSmall);
  line-height: 1;
  padding-right: 0.2rem;
}

.input label {
  font-size: var(--textSmall);
  font-weight: 400;
  line-height: 1;
  flex: 1;
}

.inputHeader span {
  color: var(--dangerColor);
  font-size: var(--textSmall);
  font-weight: 400;
  line-height: 1;
  transition: 600ms;
}

.inputContent {
  display: flex;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.inputContent input,
.inputContent select,
.inputContent textarea {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--textColor);
  font-size: var(--textRegular);
  flex: 1;
  margin: 0;
  min-width: 60px;
  line-height: 1;
  padding: 6px 1rem;
  transition: 200ms;
}

.inputContent textarea {
  height: auto !important;
  padding: 0.8rem !important;
  transition: 200ms;
}

.inputContent input:focus,
.inputContent select:focus,
.inputContent textarea:focus {
  border-color: var(--infoColor);
  outline: none;
  transition: 200ms;
}

.inputContent input:disabled,
.inputContent select:disabled,
.inputContent textarea:disabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
  cursor: not-allowed;
  opacity: 1;
}

.inputContent input:read-only {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
}

/* MONEY */
.inputMoney {
  display: flex;
}

.inputMoney input {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  flex: 1;
  line-height: 1;
  font-size: var(--textRegular);
  outline: none;
  overflow: hidden;
  padding: 6px 1rem;
}

.inputMoney input:focus {
  border-color: var(--infoColor);
  outline: none;
}

.inputMoney input:read-only {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
}

.inputMoney input:disabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
  cursor: not-allowed;
  opacity: 1;
}

.inputMoneyCurrency input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputMoneyCurrency input:focus {
  border-right-color: var(--borderColor);
}

.inputMoney select {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-left: none;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--textColor);
  line-height: 1;
  outline: none;
  padding: 6px 1rem;
  user-select: none;
}

.inputMoney:has(input:focus) select {
  border-color: var(--infoColor);
}

.inputMoney select:disabled {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  cursor: not-allowed;
  opacity: 1;
}

/* RADIO */
.inputRadioContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
}

.inputRadio {
  display: flex;
  flex: 1;
  gap: 0.6rem;
}

.inputRadioVertical {
  flex-direction: column;
}

.inputRadio label {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  flex: 1;
}

.inputRadioOption {
  align-items: center;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 16px;
  transition: 200ms;
  width: 16px;
}

.inputRadioOption:hover {
  cursor: pointer;
  transition: 200ms;
}

.inputRadio label:has(input:checked) .inputRadioOption {
  align-items: center;
  border: 1px solid var(--infoColor);
  color: var(--infoColor);
  display: flex;
  justify-content: center;
  transition: 200ms;
}

.inputRadio label:has(input:checked) .inputRadioOption::after {
  background: var(--infoColor);
  background-color: var(--infoColor);
  border-radius: 100%;
  content: "";
  height: 10px;
  line-height: 1;
  margin: 0;
  width: 10px;
}

.inputRadio label input[type="radio"] {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.inputRadio label span {
  color: var(--textColor);
  cursor: pointer;
  font-size: var(--textSmall);
  font-weight: 400;
  line-height: 1;
}

/* CHECK */
.inputCheckContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
}

.inputCheck {
  display: flex;
  flex: 1;
  gap: 0.6rem;
}

.inputCheckVertical {
  flex-direction: column;
}

.inputCheck label {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  flex: 1;
}

.inputCheckOption {
  align-items: center;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  height: 16px;
  transition: 200ms;
  width: 16px;
}

.inputCheckOption:hover {
  cursor: pointer;
  transition: 200ms;
}

.inputCheck label:has(input:checked) .inputCheckOption {
  align-items: center;
  border: 1px solid var(--infoColor);
  color: var(--infoColor);
  display: flex;
  justify-content: center;
  transition: 200ms;
}

.inputCheck label:has(input:checked) .inputCheckOption::after {
  background: var(--infoColor);
  background-color: var(--infoColor);
  border-radius: 2px;
  content: "";
  height: 10px;
  line-height: 1;
  margin: 0;
  width: 10px;
}

.inputCheck label input[type="checkbox"] {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.inputCheck label span {
  color: var(--textColor);
  cursor: pointer;
  font-size: var(--textSmall);
  font-weight: 400;
  line-height: 1;
}

/* FILE */
.inputFile {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.inputFile input {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.inputFile button {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--textColor);
  font-size: var(--textRegular);
  padding: 6px 1rem;
}

.inputFile button:disabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  cursor: not-allowed;
}

.inputFileInfo {
  align-items: center;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-left: none;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--textLight);
  display: flex;
  font-size: var(--textSmall);
  flex: 1;
  overflow: hidden;
  padding: 6px 1rem;
}

.inputFileInfoDisabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  cursor: not-allowed;
}

.inputFileInfo span {
  color: var(--textLight);
  font-size: var(--textSmall);
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* INTERVAL */
.inputInterval {
  display: flex;
  flex: 1;
}

.inputInterval input {
  appearance: none;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--textColor);
  font-size: var(--textRegular);
  flex: 1;
  min-width: 60px;
  margin: 0;
  line-height: 1;
  overflow: hidden;
  padding: 6px 1rem;
  text-align: center;
  transition: 200ms;
}

.inputInterval input:nth-child(1) {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputInterval input:nth-child(2) {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inputInterval input:focus {
  outline: none;
}

.inputInterval input:disabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
  cursor: not-allowed;
  opacity: 1;
}

.inputInterval input:read-only {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  color: var(--textLight);
}
