.table {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  border-style: none;
  box-shadow: none;
  flex: 1;
  overflow: hidden;
}

.tableBorder {
  border-style: solid !important;
  box-shadow: var(--shadow) !important;
}

.tableBorder .tableHead {
  background: var(--background);
  background-color: var(--background);
}

.tableHeadRow {
  border-bottom: 1px solid var(--border);
  display: flex;
}

.tableHeadData {
  font-size: var(--text-paragraph);
  font-weight: 600;
  flex: 1;
  padding: 0.6rem 0.4rem;
}

.tableBodyRow {
  align-items: center;
  display: flex;
}

.tableBodyRow:not(:last-child) {
  border-bottom: 1px solid var(--border-light);
}

.tableBodyRowSelected {
  background: var(--background);
  background-color: var(--background);
}

.tableBodyData {
  font-size: var(--text-small);
  font-weight: 400;
  flex: 1;
  overflow: hidden;
  padding: 0.4rem 0.4rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
