.table {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  border-style: none;
  box-shadow: none;
  flex: 1;
}

.tableBorder {
  border-style: solid !important;
  box-shadow: var(--shadow) !important;
  overflow: hidden;
}

.tableBorder .tableHead {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
}

.tableHeadRow {
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
}

.tableHeadData {
  font-size: var(--textRegular);
  font-weight: 600;
  flex: 1;
  padding: 0.6rem 0.4rem;
}

.tableBodyRow {
  align-items: center;
  display: flex;
}

.tableBodyRow:not(:last-child) {
  border-bottom: 1px solid var(--borderLight);
}

.tableBodyRowSelected {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
}

.tableBodyData {
  font-size: var(--textSmall);
  font-weight: 400;
  flex: 1;
  overflow: hidden;
  padding: 0.4rem 0.4rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
