.fz-table {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  border-style: none;
  box-shadow: none;
  flex: 1;
  overflow: hidden;
}

.fz-table-border {
  border-style: solid !important;
  box-shadow: var(--shadow) !important;
}

.fz-table-border .fz-table-head {
  background: var(--background);
  background-color: var(--background);
}

.fz-table-head-row {
  border-bottom: 1px solid var(--border);
  display: flex;
}

.fz-table-body-row {
  align-items: center;
  display: flex;
}

.fz-table-body-row-selected {
  background: var(--background);
  background-color: var(--background);
}

.fz-table-body-row:not(:last-child) {
  border-bottom: 1px solid var(--border-light);
}

.fz-table-head-data {
  font-size: var(--text-paragraph);
  font-weight: 600;
  flex: 1;
  padding: 0.6rem 0.4rem;
}

.fz-table-body-data {
  font-size: var(--text-small);
  font-weight: 400;
  flex: 1;
  overflow: hidden;
  padding: 0.4rem 0.4rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
