g,
path,
.recharts-pie-sector,
.recharts-pie-sector:focus {
  outline: none !important;
}

.chartTooltip {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;
  min-width: 150px;
}

.chartTooltipTitle {
  font-size: var(--text-paragraph);
  font-weight: 500;
}

.chartTooltipContent {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.chartTooltipPayload {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  font-size: var(--text-small);
  line-height: 1;
}

.chartTooltipPayloadColor {
  border-radius: var(--rounded);
  height: 12px;
  width: 12px;
}

.chartTooltipPayloadName {
  flex: 1;
  text-transform: capitalize;
}
