.fz-chart-tooltip {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem;
}

.fz-chart-tooltip-title {
  font-size: var(--text-paragraph);
  font-weight: 500;
}

.fz-chart-tooltip-payload {
  line-height: 1;
  font-size: var(--text-small);
}
