.button {
  align-items: center;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  font-size: var(--text-small);
  min-height: 32px;
  overflow: hidden;
  padding: 6px 1rem;
  transition: 0.2s;
}

.button:not(:disabled):hover {
  opacity: 0.8;
  transition: 0.2s;
}

.button:not(:disabled):active {
  filter: brightness(110%);
  transform: scale(95%);
  transition: 0.2s;
}

.button:disabled {
  filter: saturate(90%);
  opacity: 0.6;
  cursor: not-allowed !important;
  transition: 0.2s;
}

.button span {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.buttonPrimary {
  background: var(--success);
  background-color: var(--success);
  border: 1px solid var(--success-dark);
  color: var(--background);
}

.buttonSecondary {
  background: var(--info);
  background-color: var(--info);
  border: 1px solid var(--info-dark);
  color: var(--background);
}

.buttonDanger {
  background: var(--danger);
  background-color: var(--danger);
  border: 1px solid var(--danger-dark);
  color: var(--background);
}

.buttonWarn {
  background: var(--warn);
  background-color: var(--warn);
  border: 1px solid var(--warn-dark);
  color: var(--background);
}

.buttonNeutral {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  color: var(--font);
}

.buttonNeutral:disabled {
  background: var(--border);
  background-color: var(--border);
}

.buttonPrimary *,
.buttonSecondary *,
.buttonDanger * {
  color: var(--background);
}
