.fz-wrapper {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  flex: 1;
  overflow: hidden;
}

.fz-wrapper-header {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem 1rem;
}

.fz-wrapper-header-title {
  font-size: var(--text-highlight);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fz-wrapper-header-description {
  color: var(--font-light);
  font-size: var(--text-small);
  line-height: 1.2;
  text-align: justify;
}

.fz-wrapper-content {
  padding: 1rem;
}

.fz-wrapper-footer {
  background: var(--background);
  background-color: var(--background);
  border-top: 1px solid var(--border);
  display: flex;
  gap: 0.6rem;
  justify-content: flex-end;
  padding: 0.6rem 1rem;
}
