/* CONTAINER */
.rbc-month-view {
  border: 1px solid var(--borderColor) !important;
  border-radius: var(--borderRadius) !important;
  overflow: hidden;
}

/* TOOLBAR */
.rbc-btn-group button {
  background: var(--foregroundColor) !important;
  background-color: var(--foregroundColor) !important;
}

.rbc-toolbar button {
  border-color: var(--borderColor) !important;
}

.rbc-toolbar button.rbc-active {
  background: var(--infoColor) !important;
  background-color: var(--infoColor) !important;
  border-color: var(--infoDark) !important;
  box-shadow: none !important;
  color: white !important;
  background-image: none !important;
}

/* CONTENT */
.rbc-header {
  background: var(--foregroundColor) !important;
  background-color: var(--foregroundColor) !important;
  font-size: var(--textRegular) !important;
  font-weight: 400 !important;
}

.rbc-header + .rbc-header {
  border-left: 1px solid var(--borderColor) !important;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid var(--borderColor) !important;
}

.rbc-day-bg {
  /* dates common */
  background: var(--foregroundColor) !important;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid var(--borderColor) !important;
}

.rbc-off-range-bg {
  /* dates off */
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor) !important;
}

.rbc-off-range {
  /* dates off text */
  color: var(--borderDark) !important;
  border-color: var(--borderColor) !important;
}

.rbc-event {
  background: var(--foregroundColor) !important;
  background-color: var(--foregroundColor) !important;
  border: 1px solid var(--borderColor) !important;
  border-radius: var(--borderRadius) !important;
  color: var(--textLight) !important;
  font-size: var(--textSmall) !important;
  margin: 0 4px !important;
  width: auto !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  font-size: var(--textHighlight);
}

.rbc-row-segment button {
  color: var(--infoColor) !important;
}

/*
.rbc-event.rbc-selected {
  background: var(--infoDark) !important;
  background-color: var(--infoDark) !important;
}
*/

.rbc-day-bg.rbc-today {
  background: var(--infoLight) !important;
}

.rbc-now.rbc-current {
  color: var(--infoDark) !important;
}

.rbc-selected-cell {
  background: var(--successLight) !important;
  background-color: var(--successLight) !important;
}

/**/

.agendaDate {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  overflow: hidden;
  width: 64px;
  min-width: 64px;
}

.agendaDateMonth {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
  font-size: var(--textSmall);
  padding: 4px;
  text-align: center;
}

.agendaDateDay {
  font-size: var(--textSubtitle);
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.agendaDateDescription {
  color: var(--textLight);
  font-size: var(--textSmall);
}
