.card {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  overflow: hidden;
  flex: 1;
}

.cardSmall {
  min-width: 180px;
  max-width: 200px;
}

.cardLarge {
  min-width: 260px;
  max-width: 280px;
}

.cardPhoto {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
  width: 100%;
}

.cardSmall .cardPhoto {
  height: 200px;
}

.cardLarge .cardPhoto {
  height: 280px;
}

.cardContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.8rem;
}

.cardPhoto {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.cardPhoto img {
  object-fit: cover;
  flex: 1;
  height: 100%;
  width: 100%;
}

.cardPhotoStates {
  display: flex;
  gap: 0.4rem;
  height: min-content;
  right: 0;
  padding: 0.4rem;
  position: absolute;
  top: 0;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.cardName {
  color: var(--textColor);
  font-size: var(--textRegular);
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardDescription {
  color: var(--textLight);
  font-size: var(--textSmall);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardPrice {
  font-size: var(--textSubtitle);
  font-weight: 400;
}
