.card {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  overflow: hidden;
  flex: 1;
}

.cardSmall {
  min-width: 200px;
  max-width: 200px;
}

.cardLarge {
  min-width: 260px;
  max-width: 260px;
}

.cardPhoto {
  align-items: center;
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.cardSmall .cardPhoto {
  height: 200px;
}

.cardLarge .cardPhoto {
  height: 260px;
}

.cardPhoto img {
  object-fit: cover;
  flex: 1;
  height: 100%;
  width: 100%;
}

.cardPhotoChildren {
  display: flex;
  gap: 0.4rem;
  height: min-content;
  right: 0;
  padding: 0.4rem;
  position: absolute;
  top: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem;
}

.cardFooter {
  align-items: center;
  display: flex;
  padding: 0.4rem;
}
