.tippy-box[data-theme~="light"] {
  background-color: var(--foregroundColor);
  color: var(--textDark);
  border: 1px solid var(--borderColor);
}

.tippy-box[data-theme~="dark"] {
  background-color: var(--textColor);
  color: var(--foregroundColor);
  border: 1px solid var(--textDark);
}

.tippy-box[data-theme~="dark"] > .tippy-arrow {
  color: var(--textDark);
}

.tippy-box[data-theme~="light"] > .tippy-arrow {
  color: var(--borderColor);
}
