.tippy-box[data-theme~="light"] {
  background-color: var(--foreground);
  color: var(--font-dark);
  border: 1px solid var(--border);
}

.tippy-box[data-theme~="dark"] {
  background-color: var(--font);
  color: var(--foreground);
  border: 1px solid var(--font-dark);
}

.tippy-box[data-theme~="dark"] > .tippy-arrow {
  color: var(--font-dark);
}

.tippy-box[data-theme~="light"] > .tippy-arrow {
  color: var(--border);
}
