.wrapper {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.wrapperHeader {
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem 1rem;
}

.wrapperHeaderTitle {
  font-size: var(--textHighlight);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapperHeaderDescription {
  color: var(--textLight);
  font-size: var(--textSmall);
  line-height: 1.2;
  text-align: justify;
}

.wrapperContent {
  flex: 1;
  padding: 1rem;
}

.wrapperFooter {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--borderColor);
  display: flex;
  gap: 0.6rem;
  justify-content: flex-end;
  padding: 0.6rem 1rem;
}
