.fadeui-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  flex: 1;
  overflow: hidden;
}

.fadeui-form-header {
  align-items: center;
  display: flex;
}

.fadeui-form-header[data-required="true"] label::before {
  content: "*";
  color: var(--danger);
  font-size: var(--text-small);
  line-height: 1;
  padding-right: 0.2rem;
}

.fadeui-form label {
  font-size: var(--text-small);
  font-weight: 400;
  line-height: 1;
  flex: 1;
}

.fadeui-form-header span {
  color: var(--danger);
  font-size: var(--text-small);
  font-weight: 400;
  line-height: 1;
}

.fadeui-form-content {
  display: flex;
  flex: 1;
}

.fadeui-form-content input,
.fadeui-form-content select,
.fadeui-form-content textarea {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--font);
  font-size: var(--text-small);
  flex: 1;
  height: 2rem;
  margin: 0;
  line-height: 1;
  padding: 0 0.8rem;
}

.fadeui-form-content textarea {
  height: auto !important;
  padding: 0.8rem !important;
}

.fadeui-form-content input:focus,
.fadeui-form-content select:focus,
.fadeui-form-content textarea:focus {
  border-color: var(--info);
  outline: none;
}

.fadeui-form-content input:disabled,
.fadeui-form-content select:disabled,
.fadeui-form-content textarea:disabled {
  background: var(--background) !important;
  background-color: var(--background) !important;
  color: var(--font-light);
  cursor: not-allowed;
  opacity: 1;
}

.fadeui-form-content input:read-only {
  background: var(--background) !important;
  background-color: var(--background) !important;
  color: var(--font-light);
}

/* PREFIX */
.fadeui-form-prefix {
  display: flex;
}

.fadeui-form-prefix button {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-right: none;
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--font-light);
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  line-height: 1;
  height: 2rem;
  padding: 0 0.6rem;
}

.fadeui-form-prefix:has(input:focus) button {
  border-color: var(--info);
}

.fadeui-form-prefix button div {
  color: var(--font-light);
  font-size: var(--text-small);
}

.fadeui-form-prefix input {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 0px;
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  box-sizing: border-box;
  flex: 1;
  line-height: 1;
  height: 2rem;
  font-size: var(--text-small);
  outline: none;
  overflow: hidden;
  padding: 0 0.6rem;
}

.fadeui-form-prefix input:focus {
  border-color: var(--info);
  border-left-color: var(--border);
  outline: none;
}

.fadeui-form-prefix input:disabled {
  background: var(--background) !important;
  background-color: var(--background) !important;
  cursor: not-allowed;
}

/* MONEY */
.fadeui-form-money {
  display: flex;
}

.fadeui-form-money button {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-right: none;
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--font-light);
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  line-height: 1;
  height: 2rem;
  padding: 0 0.6rem;
  user-select: none;
}

.fadeui-form-money:has(input:focus) button {
  border-color: var(--info);
}

.fadeui-form-money:has(input:disabled) button {
  background: var(--background);
  background-color: var(--background);
}

.fadeui-form-money button div {
  color: var(--font-light);
  font-size: var(--text-small);
}

.fadeui-form-money input {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 0px;
  box-sizing: border-box;
  flex: 1;
  line-height: 1;
  height: 2rem;
  font-size: var(--text-small);
  outline: none;
  overflow: hidden;
  padding: 0 0.6rem;
}

.fadeui-form-money input:focus {
  border-color: var(--info);
  border-left-color: var(--border);
  border-right-color: var(--border);
  outline: none;
}

.fadeui-form-money input:disabled {
  background: var(--background) !important;
  background-color: var(--background) !important;
  color: var(--font-light);
  cursor: not-allowed;
  opacity: 1;
}

.fadeui-form-money select {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-left: none;
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  color: var(--font);
  height: 2rem;
  line-height: 1;
  outline: none;
  padding: 0 0.6rem;
  user-select: none;
}

.fadeui-form-money:has(input:focus) select {
  border-color: var(--info);
}

.fadeui-form-money select:disabled {
  background: var(--background);
  background-color: var(--background);
  cursor: not-allowed;
  opacity: 1;
}

/* RADIO */
.fadeui-form-radio {
  display: flex;
  flex: 1;
  gap: 0.6rem;
}

.fadeui-form-radio-vertical {
  flex-direction: column;
}

.fadeui-form-radio label {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  flex: 1;
}

.fadeui-form-radio-option {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 16px;
  transition: 200ms;
  width: 16px;
}

.fadeui-form-radio-option:hover {
  cursor: pointer;
  transition: 200ms;
}

.fadeui-form-radio label:has(input:checked) .fadeui-form-radio-option {
  align-items: center;
  border: 1px solid var(--info);
  color: var(--info);
  display: flex;
  justify-content: center;
  transition: 200ms;
}

.fadeui-form-radio label:has(input:checked) .fadeui-form-radio-option::after {
  background: var(--info);
  background-color: var(--info);
  border-radius: 100%;
  content: "";
  height: 10px;
  line-height: 1;
  margin: 0;
  width: 10px;
}

.fadeui-form-radio label input[type="radio"] {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.fadeui-form-radio label span {
  color: var(--font);
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: 400;
  line-height: 1;
}

/* CHECK */
.fadeui-form-check {
  display: flex;
  flex: 1;
  gap: 0.6rem;
}

.fadeui-form-check-vertical {
  flex-direction: column;
}

.fadeui-form-check label {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  flex: 1;
}

.fadeui-form-check-option {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded);
  display: flex;
  justify-content: center;
  height: 16px;
  transition: 200ms;
  width: 16px;
}

.fadeui-form-check-option:hover {
  cursor: pointer;
  transition: 200ms;
}

.fadeui-form-check label:has(input:checked) .fadeui-form-check-option {
  align-items: center;
  border: 1px solid var(--info);
  color: var(--info);
  display: flex;
  justify-content: center;
  transition: 200ms;
}

.fadeui-form-check label:has(input:checked) .fadeui-form-check-option::after {
  background: var(--info);
  background-color: var(--info);
  border-radius: 2px;
  content: "";
  height: 10px;
  line-height: 1;
  margin: 0;
  width: 10px;
}

.fadeui-form-check label input[type="checkbox"] {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.fadeui-form-check label span {
  color: var(--font);
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: 400;
  line-height: 1;
}

/* FILE */
.fadeui-form-file {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.fadeui-form-file input {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.fadeui-form-file button {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  color: var(--font);
  height: 32px;
  font-size: var(--text-small);
  padding: 0 0.6rem;
}

.fadeui-form-file-info {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-left: none;
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--font-light);
  display: flex;
  font-size: var(--text-small);
  flex: 1;
  height: 32px;
  overflow: hidden;
  padding: 0 0.6rem;
}

.fadeui-form-file-info span {
  color: var(--font-light);
  font-size: var(--text-small);
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
