.baseui-tooltip {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 999;
}

.baseui-tooltip-container {
  opacity: 0;
  padding: 8px;
  position: absolute;
  transition: 200ms;
  user-select: none;
  visibility: hidden;
  z-index: 1;
}

.baseui-tooltip:hover .baseui-tooltip-container {
  visibility: visible;
  opacity: 1;
}

.baseui-tooltip-container-top {
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}

.baseui-tooltip-container-bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}

.baseui-tooltip-container-left {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.baseui-tooltip-container-right {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

.baseui-tooltip-content {
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  cursor: default;
  font-size: var(--text-small);
  padding: 4px 0.4rem;
  text-align: center;
  z-index: 1;
}

.baseui-tooltip-content-light {
  background: var(--background);
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--font);
}

.baseui-tooltip-content-dark {
  background: var(--font);
  background-color: var(--font);
  border: 1px solid var(--font-dark);
  color: var(--background);
}
