.baseui-tooltip {
  display: flex;
  position: relative;
}

.baseui-tooltip-content {
  cursor: default;
  border-radius: var(--rounded);
  font-size: var(--text-small);
  opacity: 0;
  padding: 4px 0.4rem;
  position: absolute;
  text-align: center;
  transition: 200ms;
  user-select: none;
  visibility: hidden;
  z-index: 1;
}

.baseui-tooltip:hover .baseui-tooltip-content {
  visibility: visible;
  opacity: 1;
}

.baseui-tooltip-content-top {
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
}

.baseui-tooltip-content-bottom {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(100%);
}

.baseui-tooltip-content-left {
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}

.baseui-tooltip-content-right {
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.baseui-tooltip-content-light {
  background: var(--background);
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--font);
}

.baseui-tooltip-content-dark {
  background: var(--font);
  background-color: var(--font);
  border: 1px solid var(--font-dark);
  color: var(--background);
}
