.fz-badge {
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  appearance: none;
  background-image: none;
  border: none;
  border-radius: var(--rounded);
  cursor: default;
  display: flex;
  font-size: var(--text-small);
  justify-content: center;
  overflow: hidden;
  padding: 2px 0.8rem;
}

.fz-badge::-ms-expand {
  display: none;
}

.fz-badge span,
.fz-badge option {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fz-badge-primary {
  background: var(--success-light);
  background-color: var(--success-light);
  color: var(--success-dark);
}

.fz-badge-secondary {
  background: var(--info-light);
  background-color: var(--info-light);
  color: var(--info-dark);
}

.fz-badge-warn {
  background: var(--warn-light);
  background-color: var(--warn-light);
  color: var(--warn-dark);
}

.fz-badge-danger {
  background: var(--danger-light);
  background-color: var(--danger-light);
  font-weight: bold;
  color: var(--danger-dark);
}

.fz-badge-neutral {
  background: var(--background);
  background-color: var(--background);
  color: var(--font-light);
}
