.sidebar {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border-right: 1px solid var(--borderColor);
  display: flex;
  height: 100vh;
  max-width: 360px;
  min-width: 240px;
  width: 16vw;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sidebarMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.4rem;
  overflow-y: auto;
  padding: 1rem;
}

.sidebarMenuGroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebarMenuName {
  align-items: center;
  color: var(--textLight);
  display: flex;
  font-size: var(--textSmall);
  gap: 0.4rem;
  padding: 0.4rem 0;
}

.sidebarMenuContent {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebarMenuItem {
  align-items: center;
  color: var(--textColor);
  font-size: var(--textSmall);
  display: flex;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  transition: 200ms;
}

.sidebarMenuItem:hover {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: 200ms;
}

.sidebarMenuItemSelected {
  background: var(--borderLight);
  background-color: var(--borderLight);
  border-radius: var(--borderRadius);
  color: var(--textColor) !important;
  transition: 200ms;
}
