.breadcrumb {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.breadcrumb span,
.breadcrumb svg {
  fill: var(--textLight);
  color: var(--textLight);
  font-weight: 500;
  opacity: 0.6;
}

.breadcrumb a {
  color: var(--textColor);
  font-size: var(--textRegular);
  font-weight: 400;
  transition: 200ms;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--textDark);
  filter: brightness(0.8);
  transition: 200ms;
}

.breadcrumb a:active {
  color: var(--textLight);
  transition: 200ms;
}
