.pagination {
  align-items: center;
  display: flex;
  flex: 1;
}

.paginationData {
  display: flex;
  font-size: var(--textSmall);
  flex: 1;
  gap: 0.2rem;
}

.paginationData span {
  color: var(--textLight);
}

.paginationData b {
  font-weight: 500;
}

.paginationButtons {
  align-items: center;
  display: flex;
}

.paginationButtons button {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  height: 2rem;
  line-height: 1;
  overflow: hidden;
  width: 3rem;
}

.paginationButtons button:hover {
  cursor: pointer;
}

.paginationButtons button:disabled {
  background: var(--backgroundColor) !important;
  background-color: var(--backgroundColor) !important;
  cursor: not-allowed;
}

.paginationButtonsSelected {
  background: var(--infoColor) !important;
  background-color: var(--infoColor) !important;
  border-color: var(--infoDark) !important;
  color: white;
  cursor: default !important;
}

.paginationButtonLeft {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.paginationButtonCenter {
  border-left: none !important;
  border-right: none !important;
}

.paginationButtonRight {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
