.fz-callout {
  align-items: center;
  border-radius: var(--rounded);
  cursor: default;
  display: flex;
  font-size: var(--text-small);
  gap: 0.6rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  width: 100%;
}

.fz-callout-primary {
  background: var(--success-light);
  background-color: var(--success-light);
  color: var(--success-dark);
}

.fz-callout-secondary {
  background: var(--info-light);
  background-color: var(--info-light);
  color: var(--info-dark);
}

.fz-callout-warn {
  background: var(--warn-light);
  background-color: var(--warn-light);
  color: var(--warn-dark);
}

.fz-callout-danger {
  background: var(--danger-light);
  background-color: var(--danger-light);
  font-weight: bold;
  color: var(--danger-dark);
}

.fz-callout-neutral {
  background: var(--background);
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--font-light);
}
