.stats {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.statsHead {
  display: flex;
  font-size: var(--textSmall);
  gap: 1rem;
  overflow: hidden;
  padding: 0.6rem;
  padding-bottom: 0;
}

.statsHeadTitle {
  flex: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.statsHeadMetricUp {
  color: var(--successColor);
}

.statsHeadMetricDown {
  color: var(--dangerColor);
}

.statsBody {
  font-size: var(--textSubtitle);
  padding: 1rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
