:root {
  --success: #22c55e;
  --success-dark: #059669;
  --warn: #fb923c;
  --warn-dark: #d37528;
  --info: #0ea5e9;
  --info-dark: #197ca8;
  --danger: #ef4444;
  --danger-dark: #b52a2a;

  --background: #eee;
  --foreground: white;

  --border-light: #ebebeb;
  --border: #dedede;
  --border-dark: #bebebe;

  --font-light: #666;
  --font: #334155;
  --font-dark: #222;

  --modal: rgba(80, 80, 80, 0.2);

  --shadow: 2px 2px 8px rgba(200, 200, 200, 0.2);

  --rounded: 4px;

  --text-small: 0.875rem;
  --text-paragraph: 1rem;
  --text-highlight: 1.2rem;
  --text-subtitle: 1.5rem;
  --text-title: 2rem;

  --mobile-width: 768px;
}

*,
input,
button {
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--gray-light);
  margin: 0;
}
