:root {
  --successLight: #d3edd9;
  --successColor: #22c55e;
  --successDark: #059669;

  --infoLight: #d3eef2;
  --infoColor: #0ea5e9;
  --infoDark: #197ca8;

  --warningLight: #fff3cc;
  --warningColor: #fb923c;
  --warningDark: #d37528;

  --dangerLight: #fad7da;
  --dangerColor: #ef4444;
  --dangerDark: #b52a2a;

  --backgroundColor: #fafafa;
  --backgroundModal: rgba(40, 40, 40, 0.4);
  --foregroundColor: white;

  --borderRadius: 4px;

  --borderLight: #ebebeb;
  --borderColor: #dedede;
  --borderDark: #bebebe;

  --shadow: 2px 2px 8px rgba(200, 200, 200, 0.2);

  --textLight: #666;
  --textColor: #334155;
  --textDark: #222;

  --textSmall: 0.875rem;
  --textRegular: 1rem;
  --textHighlight: 1.2rem;
  --textSubtitle: 1.5rem;
  --textTitle: 2rem;

  --mobileWidth: 768px;
}

*,
input,
button {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  box-sizing: content-box;
  border: 1px solid var(--borderColor);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background: var(--borderColor);
  background-color: var(--borderColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--borderDark);
  background-color: var(--borderDark);
  cursor: grab;
}

body {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  margin: 0;
}

input {
  color: var(--textColor);
}
