:root {
  --successLight: #d3edd9;
  --successColor: #22c55e;
  --successDark: #059669;

  --infoLight: #d3eef2;
  --infoColor: #0ea5e9;
  --infoDark: #197ca8;

  --warningLight: #fff3cc;
  --warningColor: #fb923c;
  --warningDark: #d37528;

  --dangerLight: #fad7da;
  --dangerColor: #ef4444;
  --dangerDark: #b52a2a;

  --backgroundColor: #fafafa;
  --backgroundModal: rgba(40, 40, 40, 0.4);
  --foregroundColor: white;

  --borderRadius: 4px;

  --borderLight: #ebebeb;
  --borderColor: #dedede;
  --borderDark: #bebebe;

  --shadow: 2px 2px 8px rgba(200, 200, 200, 0.2);

  --textLight: #666;
  --textColor: #334155;
  --textDark: #222;

  --textSmall: 0.875rem;
  --textRegular: 1rem;
  --textHighlight: 1.2rem;
  --textSubtitle: 1.4rem;
  --textTitle: 1.8rem;

  --mobileWidth: 768px;
}

*,
input,
button {
  font-family: "Lato", sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 12pt;
  scroll-behavior: smooth;
}

iframe {
  border: none;
  border-radius: var(--borderRadius);
}

::-webkit-scrollbar {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  box-sizing: content-box;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background: var(--borderLight);
  background-color: var(--borderLight);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--borderColor);
  background-color: var(--borderColor);
  cursor: grab;
}

body {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  margin: 0;
}

input {
  color: var(--textColor);
}

h1 {
  font-size: var(--textTitle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  color: var(--infoColor);
  text-decoration: none;
  transition: 200ms;
}

a:hover {
  text-decoration: underline;
  transition: 200ms;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--borderColor);
  margin: 1em 0;
  padding: 0;
}

code {
  background: var(--textDark);
  background-color: var(--textDark);
  border-radius: var(--borderRadius);
  color: var(--borderDark);
  display: flex;
  font-family: monospace;
  font-size: var(--textSmall);
  flex: 1;
  padding: 0.4rem 0.8rem;
}

.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.itemsCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.overflowHidden {
  overflow: hidden;
}

.wFull {
  width: 100%;
}

.ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
