.dialog {
  align-items: center;
  background: var(--backgroundModal);
  background-color: var(--backgroundModal);
  box-shadow: var(--shadow);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;

  opacity: 0;
  pointer-events: none;
  transition: 200ms;
  visibility: hidden;
}

.dialogOpen {
  opacity: 1;
  pointer-events: auto;
  transition: 200ms;
  visibility: visible;
}

.dialogContainer {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  overflow: hidden;

  opacity: 0;
  transform: scale(50%);
  pointer-events: none;
  transition: 200ms;
  visibility: hidden;
}

.dialogContainerOpen {
  opacity: 1;
  transform: scale(100%);
  pointer-events: auto;
  transition: 200ms;
  visibility: visible;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: hidden;
  padding: 1rem;
}

.dialogTitle {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  font-size: var(--textSubtitle);
  font-weight: bold;
}

.dialogTitle span {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialogDescription {
  font-size: var(--textRegular);
  text-align: justify;
}

.dialogFooter {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--borderColor);
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.8rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .dialogContainer {
    margin: 0 1rem !important;
    width: 100% !important;
  }
}
