.dropdown {
  position: relative;
}

.dropdownContent {
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  font-size: var(--textRegular);
  gap: 0.4rem;
  margin: 4px 0;
  padding: 6px;
  position: fixed;
  color: var(--textColor);
  width: 15rem;
  z-index: 99;

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  visibility: hidden;
}

.dropdownContentOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.dropdownContentOption {
  align-items: center;
  background: var(--foregroundColor);
  background-color: var(--foregroundColor);
  border: none;
  border-radius: var(--borderRadius);
  color: var(--textColor);
  display: flex;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  text-align: left;
  transition: 200ms;
}

.dropdownContentOption:not(:disabled):hover {
  background: var(--backgroundColor);
  background-color: var(--backgroundColor);
  cursor: pointer;
  transition: 200ms;
}

.dropdownContentOption:disabled {
  color: var(--textLight);
  cursor: not-allowed;
  opacity: 0.6;
}
