.fz-avatar {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: var(--border-light);
  background-color: var(--border-light);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--rounded);
  cursor: default;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.fz-avatar img {
  aspect-ratio: 1 / 1;
  height: 100%;
  object-fit: cover;
  user-select: none;
  width: 100%;
}

.fz-avatar svg {
  color: var(--font-light);
}

.fz-avatar span {
  color: var(--font-light);
  font-weight: bold;
  user-select: none;
}

.fz-avatar-circle {
  border-radius: 100% !important;
}
